<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BreakingbadApi</title>
</head>
<body>
    <div id="app">
        <select id="char_combobox" @change="switchView($event, $event.target.selectedIndex)">
            <option v-for="char in characters">
                {{char.name}}
            </option>
        </select>
        <div id="char_details">
            <h3>Name: {{characters[selectedIndex].name}}</h3>
            <h3>Nickname: {{characters[selectedIndex].nickname}}</h3>
            <h3>Birthday: {{characters[selectedIndex].birthday}}</h3>
            <h3>Status: {{characters[selectedIndex].status}}</h3>
            <div id="char_occupation" v-for="occ in characters[selectedIndex].occupation">
                <h3>Occupation: {{occ}}</h3>
            </div>
            <div id="char_picture">
                <img :src='characters[selectedIndex].img' width="350px" height="500px">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>